<link rel="import" href="../../polymer/polymer-element.html">

<link rel="import" href="../ev-spinner-behavior.html">

<dom-module id="test-spinner">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
  </template>

  <script>
    class TestSpinner extends EvSpinnerBehavior(Polymer.Element) {
      static get is() { return 'test-spinner'; }
    }

    window.customElements.define(TestSpinner.is, TestSpinner);
  </script>
</dom-module>
