<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="ev-spinner-behavior.html">
<link rel="import" href="ev-spinner-styles.html">

<dom-module id="ev-spinner-light">
  <template>
    <style include="ev-spinner-styles">
      circle.ringOuter {
        stroke: var(--ev-spinner-outer-color, #FFFFFF);
      }
      circle.ringInner {
        stroke: var(--ev-spinner-inner-color, #9b46d6);
      }
      .logo {
        display: var(--ev-spinner-logo-display, block);
      }
    </style>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 140 140" xml:space="preserve" style="width:140px; height:140px; enable-background:new 0 0 140 140;">
      <defs>
        <lineargradient id="shadGrad" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" style="stop-color:rgb(0,0,0);stop-opacity:0"></stop>
          <stop offset="35%" style="stop-color:rgb(0,0,0);stop-opacity:1"></stop>
          <stop offset="65%" style="stop-color:rgb(0,0,0);stop-opacity:1"></stop>
          <stop offset="100%" style="stop-color:rgb(0,0,0);stop-opacity:0"></stop>
        </lineargradient>
        <radialgradient id="bgGrad">
          <stop offset="10%" style="stop-color:rgb(0,0,0);stop-opacity:0.15"></stop>
          <stop offset="100%" style="stop-color:rgb(0,0,0);stop-opacity:0"></stop>
        </radialgradient>
        <clippath id="refClip">
          <path id="highlight" class="highlight" d="M13,0 L27,0 L45,82 L31,82 z"></path>
        </clippath>
        <clippath id="ringClip" class="logo">
          <path transform="translate(20,0)" d="M0,0v100h100V0H0z M88.5,38.2h-7.3L65,75.8H54.4L38.2,38.2H22.7v4.6l11.9,0c1.6,0,3.2,0.5,4.4,1.5	c0.9,0.7,1.6,1.7,2.1,2.8l4.2,9.8l-22.7,0v4.9l20.5,0c1.5,0.1,3,0.6,4.1,1.5c0.9,0.7,1.6,1.7,2.1,2.8l4.2,9.7L7,75.7V24.2h36.4 c1.6,0,3.2,0.5,4.4,1.5c0.9,0.7,1.6,1.7,2.1,2.7l9.7,22.6l9.7-22.8l0.1-0.1c0.5-1,1.3-1.9,2.2-2.5c1.3-0.9,2.7-1.4,4.3-1.4h18.6 L88.5,38.2z"/>
        </clippath>
      </defs>
      <g>
        <circle cx="70" cy="70" r="70" fill="url(#bgGrad)"></circle>
        <path class="logo" transform="translate(20,0)" fill="rgba(255,255,255,0.25)" d="M10,72.7V27.2h33.4c1,0,1.8,0.3,2.5,0.9c0.5,0.4,1,1,1.2,1.6l12.5,29l12.4-29.1 c0.3-0.6,0.8-1.1,1.3-1.5c0.7-0.5,1.6-0.8,2.5-0.8H90l-3.4,8h-7.3L63,72.8h-6.6L40.1,35.2H19.7v10.6l14.9,0c1,0,1.8,0.3,2.6,0.9 c0.5,0.4,1,1,1.2,1.6l2.4,5.6l-21.1,0v10.9l23.4,0c0.9,0,1.7,0.3,2.4,0.9c0.5,0.4,1,1,1.3,1.6l2.4,5.5L10,72.7z"/>
        <path class="logo"transform="translate(20,0)" class="evPath" clip-path="url(#refClip)" d="M10,72.7V27.2h33.4c1,0,1.8,0.3,2.5,0.9c0.5,0.4,1,1,1.2,1.6l12.5,29l12.4-29.1 c0.3-0.6,0.8-1.1,1.3-1.5c0.7-0.5,1.6-0.8,2.5-0.8H90l-3.4,8h-7.3L63,72.8h-6.6L40.1,35.2H19.7v10.6l14.9,0c1,0,1.8,0.3,2.6,0.9 c0.5,0.4,1,1,1.2,1.6l2.4,5.6l-21.1,0v10.9l23.4,0c0.9,0,1.7,0.3,2.4,0.9c0.5,0.4,1,1,1.3,1.6l2.4,5.5L10,72.7z"/>
        <path class="logo"transform="translate(20,0)" style="fill:white; opacity:0.1;" clip-path="url(#refClip)" d="M10,72.7V27.2h33.4c1,0,1.8,0.3,2.5,0.9c0.5,0.4,1,1,1.2,1.6l12.5,29l12.4-29.1 c0.3-0.6,0.8-1.1,1.3-1.5c0.7-0.5,1.6-0.8,2.5-0.8H90l-3.4,8h-7.3L63,72.8h-6.6L40.1,35.2H19.7v10.6l14.9,0c1,0,1.8,0.3,2.6,0.9 c0.5,0.4,1,1,1.2,1.6l2.4,5.6l-21.1,0v10.9l23.4,0c0.9,0,1.7,0.3,2.4,0.9c0.5,0.4,1,1,1.3,1.6l2.4,5.5L10,72.7z"/>
        <circle id="ringOuter" class="ringOuter" cx="70" cy="50" r="45" clip-path="url(#ringClip)"></circle>
        <circle id="ringInner" class="ringInner" cx="70" cy="50" r="35" clip-path="url(#ringClip)"></circle>
        <g style="opacity:0.5">
          <rect class="spin-shadow4" width="100" height="1" x="20" y="105" fill="url(#shadGrad)"></rect>
          <rect class="spin-shadow3" width="100" height="1" x="20" y="106" fill="url(#shadGrad)"></rect>
          <rect class="spin-shadow2" width="100" height="1" x="20" y="107" fill="url(#shadGrad)"></rect>
          <rect class="spin-shadow1" width="100" height="1" x="20" y="108" fill="url(#shadGrad)"></rect>
          <rect class="spin-shadow2" width="100" height="1" x="20" y="109" fill="url(#shadGrad)"></rect>
          <rect class="spin-shadow3" width="100" height="1" x="20" y="110" fill="url(#shadGrad)"></rect>
          <rect class="spin-shadow4" width="100" height="1" x="20" y="111" fill="url(#shadGrad)"></rect>
        </g>
      </g>
      <!-- comment this out if you don't want the tagline: -->
      <text class="spin-powered" x="70" y="125" style="fill:white">[[label]]</text>
    </svg>
  </template>

  <script>
    /**
     * `ev-spinner-light`
     * Element providing an EValue branded loading/calculating spinner. A lighter coloured
     * alternative of `<ev-spinner></ev-spinner>`.
     *
     *     <ev-spinner-light></ev-spinner-light>
     *
     * @polymer
     * @customElement
     * @appliesMixin EvSpinnerBehavior
     * @demo demo/index.html
     */
    class EvSpinnerLight extends EvSpinnerBehavior(Polymer.Element) {
      static get is() { return 'ev-spinner-light'; }
    }

    window.customElements.define(EvSpinnerLight.is, EvSpinnerLight);
  </script>
</dom-module>
