<link rel="import" href="../ev-styles/typography.html">

<dom-module id="ev-spinner-styles">
  <template>
    <style>
      :host {
        animation: fadeOut 0.2s linear;
        opacity: 0;
        display: none;
      }

      :host([active]) {
        animation: fadeIn 0.2s linear;
        opacity: 1;
        display: block;
      }

      @keyframes fadeOut {
        0% {
          display: block;
          opacity: 1;
        }

        1% {
          display: none;
          opacity: 1;
        }

        100% {
          display: none;
          opacity: 0;
        }
      }

      @keyframes fadeIn {
        0% {
          display: none;
          opacity: 0;
        }

        1% {
          display: block;
          opacity: 0;
        }

        100% {
          display: block;
          opacity: 1;
        }
      }

      .evPath {
        fill: none;
        opacity: 0.75;
        stroke: #FFFFFF;
        stroke-miterlimit: 10;
        stroke-width: 1px;
      }

      .highlight {
        opacity: 0.5;
        will-change: transform;
      }

      .ringOuter {
        fill: none;
        opacity: 0.8;
        shape-rendering: geometricPrecision;
        stroke-dasharray: 83 200;
        stroke-dashoffset: 0;
        stroke-miterlimit: 10;
        stroke-width: 3px;
      }

      .ringInner {
        fill: none;
        opacity: 1;
        stroke: #9b46d6;
        shape-rendering: geometricPrecision;
        stroke-dasharray: 52 200;
        stroke-dashoffset: 0;
        stroke-miterlimit: 10;
        stroke-width: 3px;
      }

      .spin-powered {
        alignment-baseline: alphabetic;
        font-size: 10px;
        opacity: 0.65;
        text-anchor: middle;
        display: var(--ev-spinner-logo-display, block);
      }

      .spin-caption {
        color: white;
        font-size: 18px;
        margin-top: 85px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;

        @apply --ev-font-common-base;
      }

      .spin-shadow1 {
        opacity: 0.5;
      }

      .spin-shadow2 {
        opacity: 0.4;
      }

      .spin-shadow3 {
        opacity: 0.3;
      }

      .spin-shadow4 {
        opacity: 0.15;
      }
    </style>
  </template>
</dom-module>
